/*********** FOR LESSONS LIST ************/
.lessons-list-group {
  @apply flex flex-col 
  md:mx-10
  /* md:w-2/3 
  xs:w-full; */
}

.lessons-card-group {
  @apply mt-8 md:grid md:grid-cols-3 md:gap-6
  xs:flex xs:flex-col;
}

.add-lesson-card {
  @apply rounded-xl px-7 py-24 
  flex justify-center
  hover:bg-gray-200;
}

/*********** FOR LESSONS ITEM ************/
.lesson-item-card {
  @apply rounded-xl md:flex-col 
  md:p-9 xs:p-7 
  md:mb-0 xs:mb-7
}

.word-answer-group {
  @apply flex md:flex-row xs:flex-col justify-around
  md:w-full xs:w-1/2
}

.word-group {
  @apply flex 
  flex-col
  md:justify-around;
}

.choices-group {
  @apply flex flex-col justify-evenly
  md:w-full xs:w-1/2
  md:items-center md:mt-3
  xs:items-end;
}

.choices-list {
  @apply flex md:flex-row md:items-center xs:items-end xs:flex-col justify-evenly md:mt-2 w-full;
}

.choices-item {
  @apply font-medium md:border md:border-secondary md:px-3 rounded-md;
}

.lesson-item-buttons {
  @apply pt-6 h-2/6  
  flex items-center justify-between 
  md:w-full xs:w-2/3 mx-auto;
}

/*********** FOR ADD LESSONS ************/